<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>767753988621-tbt2evrufadibucipf5o650gdor1gs2j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.767753988621-tbt2evrufadibucipf5o650gdor1gs2j</string>
	<key>API_KEY</key>
	<string>AIzaSyAYkBb2nM8-XqqLSi2oYtp8gN9Gg_VFmLA</string>
	<key>GCM_SENDER_ID</key>
	<string>767753988621</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.todo</string>
	<key>PROJECT_ID</key>
	<string>todo-263d0</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-263d0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:767753988621:ios:be47b2d1a7f3e2283e4344</string>
</dict>
</plist>